.nettotal {
    width: 100%;
    // background: #f0f9f7;
    background: #ffffff;
    padding: 5px 0px;
  }
  
  .nettotal table {
    width: 100%;
  }
  
  .nettotal .ledgertotal {
    padding: 5px;
    font-weight: bold;
  }
  .pt-15
  {
    padding-top: 15px;
  }