<div class="panel ui-g-12 m-b-25 p-t-0 p-b-0 p-l-0 p-r-0">
  <div class="bg-1">
    <div class="ui-g-12 p-l-0 p-r-0 p-t-0 p-b-0 m-b-10">
      <div class="journal-heading">
        <img class="infobook-logo ui-toolbar-group-left" src="assets/images/infobook-logo.png">
        <h1>Customer Advance </h1>
        <div class="ui-toolbar-group-right customer-button-2 split-button">
            <p-splitButton   icon="fa fa-check" [model]="menuItems" label="Update" (onClick)="AddPayment('')"></p-splitButton>
          </div>
        <!-- <div class="ui-toolbar-group-right">
          <p-menu #menu popup="popup" [model]="menuItems" [style]="{'width':'250px'}"></p-menu>
          <button type="button" pButton icon="fa fa-check" label="Save" (click)="menu.toggle($event)"></button>
        </div> -->
      </div>
    </div>
    <div class="ui-g-12 p-t-0 p-b-0 p-l-0 p-r-0">
      <div class="receipt">
          <div class="ui-g-12 ui-lg-12 ul-md-12">
        <div class="ui-g-12 ui-lg-3 ul-md-3 receipt-to">
          <div class="ui-g form-group">
            <div class="ui-g-12 p-b-0 p-l-0 req required-4">
              <label for="acAdvanced">Customer</label>
            </div>
            <div class="ui-g-12 ui-lg-12 ul-md-12 p-r-0 p-l-0 proforma-dropdown">
              <p-autoComplete *ngIf="editmode == false" (onSelect)="selectedCustomer(contact)" field="companyname"  [(ngModel)]="contact" [suggestions]="filteredContacts"
                (completeMethod)="filterContacts($event)" [size]="30" [minLength]="0" placeholder="Select Customer" [dropdown]="true"
                (onDropdownClick)="handleDropdownClick($event)" emptyMessage={{autocomplete_emptymessage}}>
                <ng-template let-contactlist pTemplate="item">
                  <div class="ui-helper-clearfix">
                    <div>{{ contactlist.companyname}}</div>
                  </div>
                </ng-template>
              </p-autoComplete>
              <input type="text" pInputText [(ngModel)]="contact" [readonly]="true" *ngIf="editmode == true" />
            </div>
            <!-- add parties start -->
            <!-- <div class="ui-g-12 ui-lg-1 ul-md-1 p-r-0 p-l-0 forma-button-2">
                <button pButton type="button" icon="fa-plus" iconPos="right" (click)="displayaddparies()"></button>
            </div> -->
            <!-- add parties end -->
          </div>
        </div>

       
          <div class="ui-g-12 ui-lg-3 ul-md-3 p-b-0 p-r-0">
            <div class="ui-g form-group" style="padding-top: 7px;">
              <div class="ui-g-12 p-t-0 p-r-0 p-b-0 req required-4">
                <label for="acAdvanced">Receipt No</label>
              </div>
              <div class="ui-g-12 p-r-0">
                <input type="text" pInputText [(ngModel)]="recno" [readonly]="true" /> </div>
            </div>
          </div>
          <div class="ui-g-12 ui-lg-3 ul-md-3 p-b-0 p-r-0">
            <div class="ui-g form-group" style="padding-top: 7px;">
              <div class="ui-g-12 p-t-0 p-r-0 p-b-0 req required-4">
                <label for="acAdvanced">Receipt Date </label>
              </div>
              <div class="ui-g-12 p-r-0 receipt-date receipt-date-2">
                <p-calendar [(ngModel)]="paymentDate" [showIcon]="true" showOnFocus="true" dateFormat="dd-mm-yy" readonlyInput="readonlyInput"></p-calendar>
                <!-- <span style="margin-left:35px">{{receiptDate|date}}</span> -->
              </div>
            </div>
          </div>

          <div class="ui-g-12 ui-lg-3 ul-md-3 p-b-0 p-r-0">
            <div class="ui-g form-group" style="padding-top: 7px;">
              <div class="ui-g-12 p-t-0 p-r-0 p-b-0 req required-4">
                <label for="acAdvanced">Payment Mode</label>
              </div>
              <div class="ui-g-12 width p-r-0 invoice-type">
                <p-dropdown (onChange)="selpayterm(Selectedpayterm)" [autoWidth]="false" [options]="payterm" [(ngModel)]="Selectedpayterm"></p-dropdown>
              </div>
            </div>
          </div>
        </div>
          <div class="ui-g-12 ui-lg-3 ul-md-3 p-b-0 p-r-0 p-t-0">
            <div class="ui-g form-group">
              <div class="ui-g-12 p-t-0 p-r-0 p-b-0 req required-4">
                <label for="acAdvanced">Account</label>
              </div>
              <div class="ui-g-12 p-r-0 invoice-type">
                <p-dropdown (onChange)="selpaymode(Selectedpaymode)" [autoWidth]="false" class="width" [options]="allpaymode" [(ngModel)]="Selectedpaymode"></p-dropdown>
              </div>
            </div>
          </div>
          <div class="ui-g-12 ui-lg-3 ul-md-3 p-b-0 p-r-0 p-t-0">
            <div class="ui-g form-group">
              <div class="ui-g-12 p-t-0 p-r-0 p-b-0 req required-4">
                <label for="acAdvanced">Amount</label>
              </div>
              <div class="ui-g-12 p-r-0">
                <input type="text" pInputText  (keypress)="numberOnly($event)"  (keyup)="calcualtePayingSuggestion()" placeholder="0.00" [(ngModel)]="payingAmount" class="text-right"/>
                <input type="hidden" [(ngModel)]="tempPayingAmount" value="{{payingAmount}}" pInputText></div>
            </div>
          </div>
          <div class="ui-g-12 ui-lg-3 ul-md-3 p-b-0 p-r-0 p-t-0">
            <div class="ui-g form-group">
              <div class="ui-g-12 p-t-0 p-r-0 p-b-0">
                <label for="acAdvanced">Reference</label>
              </div>
              <div class="ui-g-12 p-r-0">
                <input type="text" pInputText [(ngModel)]="paymentReference" />
              </div>
            </div>
          </div>
       
      </div>
    </div>
    <div class="ui-g-12 ui-lg-12 ul-md-12 invoice-to-table advance-table vendor-list card m-b-10">
      <h1>ACCOUNT DETAIL</h1>
      <p-dataTable [value]="customerinvoices" [editable]="true" expandableRows="true" >
          <p-column [style]="{'width':'30px'}" expander="true" styleClass="col-icon"> 
            </p-column>
        <p-column field="companyname" styleClass="text-center" header="Payee"></p-column>
        <p-calendar field="duedate" header="Due Date" showOnFocus="true" readonlyInput="readonlyInput"  [showIcon]="true" dateFormat="dd-mm-yy">
          <ng-template let-due="rowData" pTemplate="body">
            <span>{{selectedinv.duedate | date:date_dformat}}</span>
          </ng-template>
        </p-calendar>
        <p-column field="reftotal" header="Invoice Total" styleClass="text-right">
          <ng-template let-selectedinv="rowData" pTemplate="body">
            <span>{{selectedinv.reftotal | currency : currency_sy :  'symbol' }}</span>
          </ng-template>
        </p-column>
        <p-column field="pymntamount" header="Paid" styleClass="text-right">
          <ng-template let-selectedinv="rowData" pTemplate="body">
            <span>{{selectedinv.pymntamount | currency : currency_sy :  'symbol' }}</span>
          </ng-template>
        </p-column>
        <p-column field="pymntapplied" header="Payment" [editable]="true" styleClass="text-right">
          <ng-template let-col let-payment="rowData" let-ridx="rowIndex" pTemplate="editor">
            <input type="text" (keypress)="numberOnly($event)" (keyup)="calcualtepaymentApplied($event,ridx)" [(ngModel)]="payment[col.field]" [ngClass]="{'appliedClass': payment[col.field] > 0}"
              [value]="0" pInputText id="{{'paymenAmt' + $index}}" [readonly]="payment.balamount==0" class="text-right" />
          </ng-template>
        </p-column>
        <p-column field="balamount" header="Balance Amount">
          <ng-template let-col let-payment="rowData" let-ridx="rowIndex" pTemplate="body">
            <p class="text-right">{{ calcBalanceAmount(payment.balamount,payment.pymntapplied) | currency : currency_sy :  'symbol'}}</p>
          </ng-template>
          
        </p-column>
        <ng-template pTemplate="rowexpansion">
          <p-dataGrid [value]="selectedproductsList" [paginator]="true" [rows]="10">
              <!-- <p-header>
                  Product Details
              </p-header> -->
              <ng-template let-productheader pTemplate="item" let-ridx="Index">
                  <div style="padding:3px;border: 0 none" class="ui-g-12 ui-md-4  creditnote-list" *ngIf="selectedproductsList">
                      <p-panel [header]="productheader.prodname" [style]="{'text-align':'center'}">
                          <!-- <img src="assets/layout/images/nopro.png" width="60"> -->
                          <div class="ui-grid-row  credit_lable">
                              <div class="ui-grid-col-4 credit_lable">Quantity </div>
                              <div class="ui-grid-col-8">{{productheader.quantity}}</div>
                          </div>
                          <!-- <div class="ui-grid-row  credit_lable">
                              <div class="ui-grid-col-4 credit_lable">Return Quantity </div>
                              <div class="ui-grid-col-8">{{productheader.returnqty}}</div>
                          </div> -->
                          <div class="ui-grid-row  credit_lable">
                              <div class="ui-grid-col-4 credit_lable">Tax </div>
                              <div class="ui-grid-col-8 ">{{productheader.selltaxname}}</div>
                          </div>
                          <div class="ui-grid-row  credit_lable">
                              <div class="ui-grid-col-4 credit_lable">Tax value </div>
                              <div class="ui-grid-col-8 ">{{productheader.taxvalue | currency : currency_sy :  'symbol' }}</div>
                          </div>
                          <div class="ui-grid-row  credit_lable">
                              <div class="ui-grid-col-4 credit_lable">Discount </div>
                              <div class="ui-grid-col-8">{{productheader.discntvalue| currency : currency_sy :  'symbol' }}</div>
                          </div>
                          <div class="ui-grid-row  credit_lable">
                                  <div class="ui-grid-col-4 credit_lable">Unit Cost </div>
                                  <div class="ui-grid-col-8">{{productheader.mrp | currency : currency_sy :  'symbol' }}</div>
                              </div>
                          <div class="ui-grid-row  credit_lable">
                              <div class="ui-grid-col-4 credit_lable">Total </div>
                              <div class="ui-grid-col-8">{{productheader.basicamount | currency : currency_sy :  'symbol' }}</div>
                          </div>
                          <!-- <hr class="ui-widget-content" style="border-top:0"> -->
                          <!-- <p-footer>
                              <!-- <i class="fa fa-check" (click)="active(productheader)" style="cursor:pointer"></i> 
                              <p-checkbox name="groupname" [(ngModel)]="productheader.detailid" binary="true" (onChange)="toggleVisibility($event,productheader)"></p-checkbox>
                              <i class="fa fa-pencil" (click)="selectprod(productheader)" style="cursor:pointer;margin-left:164px"></i>
                          </p-footer> -->
                      </p-panel>
                  </div>
              </ng-template>
          </p-dataGrid>

      </ng-template>
      </p-dataTable>
      <div class="ui-g-12 ui-lg-7 ui-md-7 invoice-tax-2 p-l-0 m-t-5">
          
              <p-panel header="Tax Values" [toggleable]="true" [collapsed]="true">
                <p-dataTable [value]="Temp_GST_TaxTotal" scrollable="true" scrollHeight="200px">
                  <p-column field="taxname" header="Tax" [style]="{'width':'20%'}">
                    <ng-template let-col let-tax="rowData" let-ridx="rowIndex">
                      <span>{{tax.taxname }}</span>
                    </ng-template>
                  </p-column>
                  <p-column field="amt" header="Amount" [style]="{'width':'20%'}">
                    <ng-template let-col let-tax="rowData" let-ridx="rowIndex">
                      <span>{{tax.amt | currency : currency_sy :  'symbol'}}</span>
                    </ng-template>
                  </p-column>
                  <p-column field="cgst" header="CGST" [style]="{'width':'20%'}">
                    <ng-template let-col let-tax="rowData" let-ridx="rowIndex">
                      <span>{{tax.cgst | currency : currency_sy :  'symbol'}}</span>
                    </ng-template>
                  </p-column>
                  <p-column field="sgst" header="SGST" [style]="{'width':'20%'}">
                    <ng-template let-col let-tax="rowData" let-ridx="rowIndex">
                      <span>{{tax.sgst | currency : currency_sy :  'symbol'}}</span>
                    </ng-template>
                  </p-column>
                  <p-column field="igst" header="IGST" [style]="{'width':'20%'}">
                    <ng-template let-col let-tax="rowData" let-ridx="rowIndex">
                      <span>{{tax.igst | currency : currency_sy :  'symbol'}}</span>
                    </ng-template>
                  </p-column>
                </p-dataTable>
              </p-panel>
            </div>
    </div>
  </div>
    <!-- add parties start -->
    <div class="molal-overlay">
        <div class="invoice-overlay">
            <p-dialog header="Add New Party" (onHide)="onhideContactpopup($event)" [(visible)]="addparties_display" modal="modal" width="700"
                [responsive]="true">
                <app-addparties [ext_customerCategory]="'B2B'" [CustomerorVendor]="CustomerorVendor" [ext_sundryGrop]=sundrygroup [openedfromothers]=true (notifyNewProduct)="addcustomerDetection($event)"></app-addparties>
            </p-dialog>
        </div>
    </div>
    <!-- add parties end -->
</div>