.center-icon
{
    margin-left: -0.3em !important;
}
.margin-brs
{
    margin-bottom: 10px;
}

.brs-width
{
    width: 141px;
}
.m-t-10
{
    margin-top:10px;
}
.ui-datatable-footer
{
    border: 0px solid #fff !important;
}