<div class="ui-g" tabindex="0">
    <div class="get-bg">
        <div class="get-started card">
            <img class="infobook-logo ui-toolbar-group-left" src="assets/images/infobook-logo.png">
            <h1 class="">Get Started</h1>
            <div class="ui-toolbar-group-right ui-breadcrumb ui-widget ui-widget-header ui-helper-clearfix ui-corner-all">
                <ul>
                    <li>
                        <a [routerLink]="['/']" class="ui-breadcrumb-home fa fa-home"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="ui-g dashboard">
            <div class="ui-g-12 ui-md-6 ui-lg-3 p-r-0 getstarteds">
                <div class="ui-g shadow-box ui-shadow-1 overview-box overview-box-1 no-gutter configure-app">
                    <div class="text-center">
                        <img class="" src="assets/images/config-applications.png">
                        <h1>Application Settings</h1>
                        <p>Customize the Application with your own preferences.</p>
                        <a class="ui-button configure-button" tabindex="1" [routerLink]="['/appsetting']"> Manage </a>
                    </div>
                </div>
            </div>


            <div class="ui-g-12 ui-md-6 ui-lg-3 p-r-0 getstarteds">
                <div class="ui-g shadow-box ui-shadow-1 overview-box overview-box-1 no-gutter configure-app">
                    <div class="text-center">
                        <img class="" src="assets/images/customer.png">
                        <h1>Contacts</h1>
                        <p>Create Customers / Vendors, Organization details and GST NO.</p>
                        <a class="ui-button configure-button" tabindex="2" [routerLink]="['/parties']"> Manage  </a>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-3 p-r-0 getstarteds">
                <div class="ui-g shadow-box ui-shadow-1 overview-box overview-box-1 no-gutter configure-app">
                    <div class="text-center">
                        <img class="" src="assets/images/flyer.png">
                        <h1> Brands</h1>
                        <p>Update your Own Brands or Create Brands the organization deals with</p>
                        <a class="ui-button configure-button" tabindex="2" [routerLink]="['/brand']"> Manage </a>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-3 getstarteds">
                <div class="ui-g shadow-box ui-shadow-1 overview-box overview-box-1 no-gutter configure-app">
                    <div class="text-center">
                        <img class="" src="assets/images/rgb.png">
                        <h1>Product Categories</h1>
                        <p>Create Product Categories to organize products.</p>
                        <a class="ui-button configure-button" tabindex="3" [routerLink]="['/category']"> Manage </a>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-3 p-r-0 getstarteds">
                <div class="ui-g shadow-box ui-shadow-1 overview-box overview-box-1 no-gutter configure-app">
                    <div class="text-center">
                        <img class="" src="assets/images/book-accounts.png">
                        <h1>Book Of Accounts</h1>
                        <p>Add company specific Book Of Accounts within the main account groups.</p>
                        <a class="ui-button configure-button" tabindex="4" [routerLink]="['/bookofaccounts']"> Manage </a>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-3 p-r-0 getstarteds">
                <div class="ui-g shadow-box ui-shadow-1 overview-box overview-box-1 no-gutter configure-app">
                    <div class="text-center">
                        <img class="" src="assets/images/checklist.png">
                        <h1>Ledgers</h1>
                        <p>Add company specific ledgers within the main account groups.</p>
                        <a class="ui-button configure-button" tabindex="5" [routerLink]="['/ledger']"> Manage </a>
                    </div>
                </div>
            </div>
            <!-- <div class="ui-g-12 ui-md-6 ui-lg-3 p-r-0 getstarteds">
                <div class="ui-g shadow-box ui-shadow-1 overview-box overview-box-1 no-gutter configure-app">
                    <div class="text-center">
                        <img class="" src="assets/images/bank.png">
                        <h1>Bank</h1>
                        <p>Update your Bank Accounts with detailed Information.</p>
                        <a class="ui-button configure-button" tabindex="6" [routerLink]="['/bank']"> Manage </a>
                    </div>
                </div>
            </div> -->
            <div class="ui-g-12 ui-md-6 ui-lg-3 getstarteds">
                <div class="ui-g shadow-box ui-shadow-1 overview-box overview-box-1 no-gutter configure-app">
                    <div class="text-center">
                        <img class="" src="assets/images/Sequential-Settings.png">
                        <h1>Sequence Settings</h1>
                        <p>Here You can Update Your Invoice,Bill,Sequence Number,etc.</p>
                        <a class="ui-button configure-button" tabindex="7" [routerLink]="['/seqsettings']"> Manage </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>