.configure-app {
    h1 {
        margin-bottom: 5px;
        margin-top: 5px;
        letter-spacing: 0.5px;
        color: #8da0aa;
        letter-spacing: 0.5px !important;
        font-size: 16px;
    }
    p {
        font-size: 14px;
        letter-spacing: 0.5px;
        line-height: 18px !important;
        min-height: 50px;
        margin:10px 5px;
    }
}

.configure-button:focus {
    background: #2d6891;
    color: #ffffff;
    box-sizing: border-box;
}