<div class="panel-4 ui-g-12 m-b-25 p-t-0 p-b-0 p-l-0 p-r-0">
    <div class="bg-1">
        <div class="ui-g-12 p-l-0 p-r-0 p-t-0 p-b-0 m-b-10">
            <div class="journal-heading">
                <img class="infobook-logo ui-toolbar-group-left" src="assets/images/infobook-logo.png">
                <h1>Payment</h1>
                <div class="ui-toolbar-group-right">
                    <p-splitButton icon="fa fa-check" [model]="menuItems" (onClick)="AddPayment('createnew')" label="Save" [tabindex]=7></p-splitButton>
                </div>
            </div>
        </div>
        <div class="ui-g-12 p-t-0 p-b-0 p-l-0 p-r-0">
            <div class="receipt">
                <div class="ui-g-12 ui-lg-12 ul-md-12">
                    <div class="ui-g-12 ui-lg-3 ul-md-3 receipt-to">
                        <div class="ui-g form-group">
                            <div class="ui-g-12 p-b-0 p-l-0 req required-4">
                                <label for="acAdvanced">Payment From</label>
                            </div>
                            <div class="ui-g-12 p-r-0 p-l-0">
                                <p-autoComplete (onSelect)="selectedCustomer($event)" field="companyname" [(ngModel)]="contact" [suggestions]="filteredContacts" (completeMethod)="filterContacts($event)" [size]="25" [minLength]="0" placeholder="Select Vendor" [dropdown]="true" (onDropdownClick)="handleDropdownClick()"
                                    emptyMessage={{autocomplete_emptymessage}} (onFocus)="openAutoComplete($event)" [tabindex]=1>
                                    <ng-template let-contactlist pTemplate="item">
                                        <div class="ui-helper-clearfix">
                                            <div>{{ contactlist.companyname}}</div>
                                        </div>
                                    </ng-template>
                                </p-autoComplete>
                            </div>

                        </div>
                    </div>


                    <div class="ui-g-12 ui-lg-3 ul-md-3 p-b-0">
                        <div class="ui-g form-group" style="padding-top: 7px;">
                            <div class="ui-g-12 p-t-0 p-l-0 p-r-0 p-b-0 req required-4">
                                <label for="acAdvanced">Payment Date </label>
                            </div>
                            <div class="ui-g-12 p-l-0 receipt-date receipt-date-2">
                                <p-calendar [(ngModel)]="paymentDate" [showIcon]="true" showOnFocus="true" dateFormat="dd-mm-yy" readonlyInput="readonlyInput" [tabindex]=2></p-calendar>
                                <!-- <span style="margin-left:35px">{{paymentDate|date}}</span> -->
                            </div>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-lg-3 ul-md-3 p-b-0">
                        <div class="ui-g form-group" style="padding-top: 7px;">
                            <div class="ui-g-12 p-t-0 p-l-0 p-r-0 p-b-0 req required-4">
                                <label for="acAdvanced">Payment Mode</label>
                            </div>
                            <div class="ui-g-12 width p-l-0 invoice-type">
                                <p-dropdown (onChange)="selpayterm(Selectedpayterm,false)" [autoWidth]="false" [options]="payterm" [(ngModel)]="Selectedpayterm" (onFocus)="openDropdown($event)" [tabindex]=3></p-dropdown>
                            </div>
                        </div>
                    </div>
<!-- 
                    <div class="ui-g-12 ui-lg-3 ul-md-3 p-b-0">
                        <div class="ui-g form-group" style="padding-top: 7px;">
                            <div class="ui-g-12 p-t-0 p-l-0 p-r-0 p-b-0 req required-4">
                                <label for="acAdvanced">Account</label>
                            </div>
                            <div class="ui-g-12 p-l-0 p-r-0">
                                <p-dropdown (onChange)="selpaymode(Selectedpaymode)" [autoWidth]="false" class="width" [options]="allpaymode" [(ngModel)]="Selectedpaymode" [tabindex]=4></p-dropdown>
                            </div>
                        </div>
                    </div> -->
                    <div class="ui-g-12 ui-lg-3 ul-md-3 p-b-0">
                            <label class="ui-g-12 padding-top bold">Account </label>
                            <p-dropdown (onChange)="selpaymode(Selectedpaymode)" [autoWidth]="false" class="width" [options]="allpaymode" [(ngModel)]="Selectedpaymode" [tabindex]=4 [style]="{ 'width' : '85%' }"></p-dropdown>
                            <!-- add bank start -->
                            <button [style]="{ 'width' : '10%','float' : 'right' }" *ngIf="addbank_button" class="brand-button" pButton type="button" icon="fa-plus" pTooltip="Add Bank" tooltipPosition="top" iconPos="right" (click)="displayaddbanks()"></button>
                            <!-- add bank end -->
                        </div>
                </div>

                <div class="ui-g-12 ui-lg-3 ul-md-3 p-b-0">
                    <div class="ui-g form-group">
                        <div class="ui-g-12 p-t-0 p-r-0 p-b-0 req required-4">
                            <label for="acAdvanced">Amount</label>
                        </div>
                        <div class="ui-g-12 p-r-0">
                            <!-- <input type="text" [(ngModel)]="invoiceNumber" pInputText /> -->
                            <input type="text" pInputText (keypress)="numberOnly($event)" (keyup)="calcualtePayingSuggestion()" placeholder="0.00" [(ngModel)]="payingAmount" class="text-right" [tabindex]=5/>
                            <input type="hidden" [(ngModel)]="tempPayingAmount" value="{{payingAmount}}" pInputText></div>
                    </div>
                </div>
                <div class="ui-g-12 ui-lg-3 ul-md-3 p-b-0">
                    <div class="ui-g form-group">
                        <div class="ui-g-12 p-t-0 p-r-0 p-b-0">
                            <label for="acAdvanced">Reference</label>
                        </div>
                        <div class="ui-g-12 p-r-0">
                            <input type="text" pInputText [(ngModel)]="paymentReference" [tabindex]=6/>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12 ui-lg-3 ul-md-3 p-b-0">
                    <div class="ui-g form-group" *ngIf="autogenyn=='N'">
                        <div class="ui-g-12 p-t-0 p-r-0 p-b-0 req required-4">
                            <label for="acAdvanced">Transaction Number</label>
                        </div>
                        <div class="ui-g-12 p-r-0">
                            <input type="text" pInputText [(ngModel)]="pymtrectno" [tabindex]=7/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-lg-12 ul-md-12 invoice-to-table card ui-datatable p-t-0 m-b-30">
            <h1>ACCOUNT DETAIL</h1>
            <p-dataTable [value]="customerinvoices" [editable]="true">
                <p-column field="companyname" header="payee"></p-column>
                <p-column field="duedate" header="Due Date">
                    <ng-template let-due="rowData" pTemplate="body">
                        <span>{{due.duedate | date: dateformat}}</span>
                    </ng-template>
                </p-column>
                <p-column field="billtotal" header="Bill Total(₹)" styleClass="text-right">
                    <ng-template let-selectedpay="rowData" pTemplate="body">
                        <span>{{selectedpay.billtotal | currency : currency_sy :  'symbol' | slice : 1 }}</span>
                    </ng-template>
                </p-column>
                <p-column field="pymntamount" header="Paid(₹)" styleClass="text-right">
                    <ng-template let-selectedpay="rowData" pTemplate="body">
                        <span>{{selectedpay.pymntamount | currency : currency_sy :  'symbol' | slice : 1 }}</span>
                    </ng-template>
                </p-column>
                <p-column field="paymentApplied" header="Payment(₹)" [editable]="true" styleClass="text-right">
                    <ng-template let-col let-payment="rowData" let-ridx="rowIndex" pTemplate="editor">
                        <input type="text" (keypress)="numberOnly($event)" (keyup)="calcualtepaymentApplied($event,ridx)" [(ngModel)]="payment.paymentApplied" [ngClass]="{'appliedClass': payment.paymentApplied > 0}" [value]="0" pInputText id="{{'paymenAmt' + $index}}" [readonly]="payment.balamount==0"
                            class="text-right" />
                    </ng-template>
                </p-column>
                <p-column field="balamount" header="Balance Amount(₹)" styleClass="text-right">
                    <ng-template let-col let-payment="rowData" let-ridx="rowIndex" pTemplate="body">
                        <p class="text-right">{{ calcBalanceAmount(payment.balamount,payment.paymentApplied ) | currency : currency_sy : 'symbol' | slice : 1}}</p>
                    </ng-template>
                </p-column>
            </p-dataTable>


        </div>
    </div>
    <!-- add bank start -->
    <div class="molal-overlay">
            <div class="invoice-overlay">
                <p-dialog header="Add Bank Details" (onHide)="onhideBankpopup($event)" [(visible)]="addbank_display" modal="modal" width="700" [responsive]="true">
                    <app-addbank [banklist]=[] [openedfromothers]="addbank_display" (notifyNewBank)="addbankDetection($event)"></app-addbank>
                </p-dialog>
            </div>
        </div>
        <!-- add bank end -->
</div>