<div class="ui-g-12 licence-bg p-l-0 p-r-0 p-t-0">
    <div class="journal-heading roles">
        <img class="infobook-logo ui-toolbar-group-left" src="assets/images/infobook-logo.png">
        <h1 class="">Book Of Accounts</h1>
        <div class="ui-toolbar-group-right ui-corner-all  brand-overlay inlineflex">
            <button pButton type="button" label="Add" icon="fa-plus" (click)="addSubLedger($event,op1)"></button>
            <button [routerLink]="['/getstarted']" icon="fa-check" pbutton="" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only">
                <span class="ui-button-icon-left ui-clickable fa fa-fw fa-close"></span>
                <span class="ui-button-text ui-clickable">ui-btn</span>
            </button>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 p-l-0 p-t-0 product-list-2">
            <div class="molal-overlay">
                <div class="changepass-overlay">
                    <p-dialog #op1 header="" [(visible)]="display" modal="modal" width="350" [responsive]="true">
                        <app-book-addedit [subLedgerdtls]="subLedgerdtls" class="brand-overlay" [addovrlay]="addovrlay" (loadSubLedgerlist)="loadSubLedgerlist()"></app-book-addedit>
                    </p-dialog>
                </div>
            </div>
            <div class="brand-list brand-list-2 nodata-page ui-g-12" *ngIf="isLoadData">
                <p-dataTable (onEditComplete)="onOpenBalChange($event)" (onEditCancel)="isedit=false" [editable]="true" [value]="subLedgerlist" [rows]="10" [paginator]="true" #dt *ngIf="subLedgerlist.length != 0">
                    <p-column field=subaccheadname header="Name" [filter]="show" [sortable]="true" filterMatchMode="contains" [style]="{'width': '22%'}"></p-column>
                    <p-column [editable]="isedit" field="openingbalance" header="Opening Balance" [sortable]="true" [filter]="show" [style]="{'text-align': 'right','width':'20%'}" filterMatchMode="contains">
                        <ng-template let-col let-data="rowData" pTemplate="body">
                            <span style="text-align:left">{{data.openingbalance | currency : currency_sy : 'symbol' }}</span>
                            <a pButton *ngIf="data.iseditable=='N'" (click)="isedit=true" icon="fa-pencil"></a>

                        </ng-template>
                        <ng-template let-col let-selectedbook="rowData" let-ridx="rowIndex" pTemplate="editor">
                            <div class="ui-g-12 p-r-0 p-l-0 p-t-0 p-b-0 form-group-default">
                                <div class="ui-g-12 ui-lg-5 ul-md-6 p-t-0 p-b-0 p-r-0 p-l-0">
                                    <input class="text-right" (keypress)="numberOnly($event)" type="text" [(ngModel)]="selectedbook[col.field]" pInputText
                                    style=" height: 30px;border: 1px solid #f0f0f0;padding: 5px;"  />
                                </div>
                                <div class="ui-g-12 ui-lg-5 ul-md-6 p-t-0 p-b-0 p-r-0 p-l-0">
                                        <p-dropdown [options]="crdr_opt" [style]="{'width': '75px'}" [(ngModel)]="selectedbook['crdr']">
                                            <ng-template let-item pTemplate="selectedItem">
                                                <span style="vertical-align:middle">{{ getcrdrLabel(item) }}</span>
                                            </ng-template>
                                            <ng-template let-item pTemplate="item">
                                                <div>{{ getcrdrLabel(item) }}</div>
                                            </ng-template>
                                        </p-dropdown>
                                       
                                    </div>
                                    <div class="ui-g-12 ui-lg-2 ul-md-2 p-t-0 p-b-0 p-r-0 p-l-0">
                                            <a pButton (click)="saveOpenBalance(selectedbook)" icon="fa-save"></a>
                                        </div>
                                </div>
                             
                        </ng-template>
                    </p-column>
                    <p-column field=createdby header="Created By" [filter]="show" [sortable]="true" filterMatchMode="contains" [style]="{'width': '28%'}">
                        <ng-template let-data="rowData" pTemplate="body">
                            <span>{{ data.createdby }}</span>
                            <br>
                            <span class="dd_datespan">{{ data.createddt | date: display_dtime }}</span>
                        </ng-template>
                    </p-column>
                    <p-column field=lastupdatedby header="Updated By" [filter]="show" [sortable]="true" filterMatchMode="contains" [style]="{'width': '25%'}">
                        <ng-template let-data="rowData" pTemplate="body" style="text-align:center !important">
                            <span>{{ data.lastupdatedby }}</span>
                            <br>
                            <span class="dd_datespan">{{ data.lastupdateddt | date: display_dtime }}</span>
                        </ng-template>
                    </p-column>
                    <p-column field="status" header="Status" [sortable]="true" [filter]="show" filterMatchMode="equals" [style]="{'text-align': 'center','overflow':'visible','width': '13%'}" filterMatchMode="equals">
                        <ng-template pTemplate="filter" let-col>
                            <p-dropdown [options]="changestatus" *ngIf="show" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
                        </ng-template>
                    </p-column>
                    <p-column styleClass="text-center" [style]="{'width': '5%','text-align':'center'}">
                        <ng-template pTemplate="header">
                            <p>
                                <button pButton [disabled]="!subLedgerlist" class="center" icon="fa-search" id="bank_dt_search_icon" (click)="showhidefilter(dt,'bank_dt_search_icon')"></button>
                            </p>
                        </ng-template>
                        <ng-template pTemplate="body" let-data="rowData">
                            <span *ngIf=" data.tenantid != 0 ">
                                <a pButton (click)="update($event,data,op2)" icon="fa-pencil"></a>
                            </span>
                        </ng-template>
                    </p-column>
                </p-dataTable>
                <div *ngIf="subLedgerlist.length == 0" class="text-center">
                    <h3>Add Own Book of Accounts or Create Book of Accounts the organization deals with.</h3>
                    <button pButton type="button" label=" Create Book of Accounts" icon="fa-plus" (click)="addSubLedger($event,op1)"></button>
                </div>
                <div class="molal-overlay">
                    <div class="changepass-overlay brands-overlay">
                        <p-dialog #op2 header="" [(visible)]="edit_display" modal="modal" width="350" [responsive]="true">
                            <app-book-addedit [subLedgerdtls]="subLedgerdtls" [editovrlay]="editovrlay" (loadSubLedgerlist)="loadSubLedgerlist()"></app-book-addedit>
                        </p-dialog>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>