<!-- <p-growl [value]="msgs" sticky="sticky">
</p-growl> -->
<div class="ui-g-12 ui-lg-12 ui-md-12  panel-4 p-t-0 p-b-0">
    <form [formGroup]="pro" (ngSubmit)="createpro(pro.value)">

        <div class="ui-g form-group m-b-0">
            <div class="row width100">
                <div class="ui-g-12 ui-lg-6 ui-md-12 p-l-0 p-t-0 p-r-0 form-group-default">
                    <div class="ui-g-12 p-t-0 p-b-0 p-r-0 p-l-0 bank-input required required-3">
                        <label class="ui-g-12 bold"> Product Name </label>
                        <input type="text" maxlength="{{productlength}" pInputText placeholder="Product Name" class="ui-g-12" name="productname"
                            formControlName="productname">
                    </div>
                </div>

                <div class="ui-g-12 ui-lg-6 ui-md-12 p-t-0 p-r-0 form-group-default">
                    <div class="ui-g-12 p-t-0 p-b-0 p-r-0 p-l-0 bank-input required  required-5">
                        <label class="ui-g-12 bold"> Price </label>
                        <input type="text" maxlength="{{amtlength}}" pInputText placeholder="Product Price" (keypress)="numberOnly($event)" class="ui-g-12 text-right"
                            name="productmrp" formControlName="productmrp">
                    </div>
                </div>
                <div class="ui-g-12 ui-lg-6 ui-md-12 p-l-0 p-t-0 p-r-0 p-b-0 form-group-default">
                    <div class="ui-g-12 p-t-0 p-b-0 p-r-0 p-l-0 bank-input required required-3">
                        <label class="ui-g-12 bold"> Product Code </label>
                        <input type="text" maxlength=20 pInputText placeholder="Product Code" class="ui-g-12" name="productcode" formControlName="productcode">
                    </div>
                </div>
                <div class="ui-g-12 ui-lg-6 ui-md-12 p-r-0 p-t-0 p-b-0 form-group-default ">
                    <div class="ui-g-12 p-r-0 p-l-0 p-t-0 p-b-0 bank-input  bank-input-2 required required-5">
                        <label class="ui-g-12 bold">UOM</label>
                        <p-dropdown [options]="alluoms" [style]="{'width': '100%'}" [filter]="true" placeholder="select UOM" formControlName="uomdesc">
                            <ng-template let-uomdesc pTemplate="item">
                                <div class="ui-helper-clearfix select-box">
                                    <div class="elipsis_div">{{uomdesc.label}}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>

            </div>
            <div class="row width100 p-t-0 ">
                <div class="ui-g-12 ui-lg-6 ui-md-12 p-l-0 p-r-0 p-b-0 form-group-default">
                    <div class="ui-g-12 hsn-label-text  p-r-0 p-l-0 p-t-0  bank-input bank-input-2 required required-7">
                        <label class="ui-g-12 bold">HSN Code</label>
                        <p-dropdown (onChange)="setSelectedHsn($event)" [filter]="true" [style]="{'width': '100%'}" [options]="hsncode" placeholder="select HSN Code"
                            formControlName="hsncode">
                            <ng-template let-hsncode pTemplate="item">
                                <div class="ui-helper-clearfix select-box">
                                    <div class="elipsis_div">{{hsncode.label}}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>
                <div class="ui-g-12 ui-lg-6 ui-md-12 p-r-0 ">
                    <div class="ui-g-12  p-r-0 p-l-0 p-t-0 p-b-0 bank-input" style="min-height: 95px;">
                        <label class="ui-g-12 bold"> HSN Description </label>
                        <!-- <div class="">{{this.selectedhsncode.description}}</div> -->
                        <div  *ngIf="selectedhsncode"  class="ui-g-12   ui-lg-12 ui-md-6">
                            <div>IGST (%): {{this.selectedhsncode.igstpercent}}</div>
                            <div>CGST (%): {{this.selectedhsncode.cgstpercent}}</div>
                            <div>SGST (%): {{this.selectedhsncode.sgstpercent}}</div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="ui-g-12 ui-lg-6 ui-md-12 p-l-0 p-r-0 p-t-0 p-b-0 form-group-default">
                    <div class="ui-g-12  p-r-0 p-l-0 p-t-0 p-b-0 bank-input  bank-input-2">
                        <label class="ui-g-12 bold">Brand</label>
                        <p-dropdown [style]="{'width': '94%'}" [filter]="true" [options]="allbrands" placeholder="Select Brand" formControlName="brandname">
                            <ng-template let-brand pTemplate="item">
                                <div class="ui-helper-clearfix select-box">
                                    <div class="elipsis_div">{{brand.label}}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                        <button pButton class="brand-button" *ngIf='! openedfromothers' type="button" icon="fa-plus" pTooltip="Add New Brand" tooltipPosition="top"
                            iconPos="right" (click)="addbrand_display=true;"></button>
                    </div>
                </div>

                <div class="ui-g-12 ui-lg-6 ui-md-12 p-r-0 p-t-0 p-b-0 form-group-default">
                    <div class="ui-g-12  p-r-0 p-l-0 p-t-0 p-b-0 bank-input bank-input-2">
                        <label class="ui-g-12 bold"> Category </label>
                        <p-dropdown [style]="{'width': '94%'}" [filter]="true" [options]="allcategories" placeholder="Select Category" formControlName="categoryname">
                            <ng-template let-categoryname pTemplate="item">
                                <div class="ui-helper-clearfix select-box">
                                    <div class="elipsis_div">{{categoryname.label}}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                        <button pButton class="brand-button" *ngIf='! openedfromothers' type="button" icon="fa-plus" pTooltip="Add New Category"
                            tooltipPosition="left" iconPos="right" (click)="addcategory_display=true;"></button>
                    </div>
                </div>

                <div class="ui-g-12 ui-lg-12 ui-md-12 p-l-0 p-r-0" *ngIf="prodtls?.prodid">
                    <div class="ui-g-12 ui-lg-6 ui-md-12 bank-input bank-input-2 required required-5 form-group-default p-t-0">
                        <label class="ui-g-12 p-r-0 p-l-0 bold">Status</label>
                        <p-radioButton name="status" value="Active" label="Active" formControlName="status"></p-radioButton>
                        <p-radioButton name="status" value="Inactive" label="Inactive" formControlName="status" [style]="{'margin-left': '15px'}"></p-radioButton>
                    </div>
                </div>


            </div>
            <div class="row width100 p-t-0 ">
                <div class="row ui-g-12 ui-lg-12 ui-md-12 p-r-0">
                    <div class="ui-g-12 ui-lg-2 ui-md-3 pull-right text-right ui-md-4 p-r-0 ">
                        <button type="submit" pButton label="Save" icon="fa-check" class="blue-btn"></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- add brand start -->
    <div class="molal-overlay">
        <div class="invoice-overlay category-overlay">
            <p-dialog (onHide)="onhideBrandpopup($event)" [(visible)]="addbrand_display" modal="modal" width="350" [responsive]="true">
                <app-addbrand [branddtls]="[]" [openedfromothers]=addbrand_display (notifyNewEntry)="addBrandDetection($event)"></app-addbrand>
            </p-dialog>
        </div>
    </div>
    <!-- add brand end -->
    <!-- add category start -->
    <div class="molal-overlay">
        <div class="invoice-overlay category-overlay">
            <p-dialog (onHide)="onhideCategorypopup($event)" [(visible)]="addcategory_display" modal="modal" width="350" [responsive]="true">
                <app-addcategory [catgdetails]="[]" [openedfromothers]=addcategory_display (notifyNewEntry)="addCategoryDetection($event)"></app-addcategory>
            </p-dialog>
        </div>
    </div>
    <!-- add category end -->

</div>