.headingclass
{
    padding: 10px 15px;
}
.bg-white
{
    background-color: #fff;
}
.p-10
{
    padding: 10px;
}
.formwidth
{
    width:65%;
}

.width100
{
    width:100%;
}
p-dropdown .ui-dropdown {
    width: 100% !important;
}
.padding-0
{
    padding: 0;
}
.margin-product
{
    margin-right: -13px;
    margin-top: 0px;
}
.m-t-product
{
    margin-top: -10px !important;
}
.required-3:after {
    left: 111px !important;
    top: 6px !important;
}
.required-4:after {
    left: 72px !important;
}
.required-5:after {
    left: 61px !important;
    top: 5px !important;

}
.required-6:after {
    left: 84px !important;
    top: 10px !important;
}

.required-7:after {
    left: 80px !important;
}