.help-doc-table {
          td {
                    border-color: inherit;
                    box-sizing: border-box;
                    padding: 0 !important;
                    border-width: 1px;
                    border-style: solid;
          }
}