.border-width-app {
  background: #ffffff;
   border: 0px solid #d5d5d5;
   height: 40px;
   width: 98%;
   padding-left: 10px;
   display: table;
 }
 .border-width-app-2 {
    background: #ffffff;
     border: 0px solid #d5d5d5;
     height: 40px;
     width: 100%;
     padding-left: 10px;
     display: table;
   }
.button-width{
    padding-top: 0px;
    padding-right: 0px;
}
.tin-width{
    border: 1px solid #d5d5d5;
    height: 38px;
    width: 98%;
}
.tin-width-2{
    border: 1px solid #d5d5d5;
    height: 32px;
    width: 98%;
}
.p-left-10{
    padding-left: 10px;
}
.p-left-7{
    padding-left: 7px;
}
.border-width-0{
border: 0px solid #d5d5d5;
}
.text-area
{
    border:0;
    height: 27px;
    width: 100%;
}
.m-t-20{
    padding-top: 50px;
}
// .padding-app
// {
//     padding: 20px 40px 0px 40px;
// }
.padding-app {
    margin: 5px 0;
}